---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


My current research thrust lies in combining modeling and data-driven approaches using Python programming to 
understand the failure and heat transport behavior in defect-engineered materials and hierarchical composites. 
The following snapshot illustrates a part of my latest project on the thermal rectification mechanism 
in graded polycrystalline graphene that got published in the Journal Carbon:
<br/><br/><img src='/images/research-main.png'><br/><br/><br/>
I have highlighted some of my previous work below.<br/><br/>


{% include base_path %}

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

