---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


My current research thrust lies in combining various multi-scale modeling techniques to understand the mechanisms and 
provide accurate simulations of the response of novel devices from ground up - in order to guide experimentalists in design optmization
for application in a new computing paradigm based on oscillatory neural networks. 
The following snapshot illustrates an overview of my latest work:
<br/><br/><img src='/images/Intro-simanta.png'><br/><br/><br/>
I have highlighted some of my previous work below.<br/><br/>


{% include base_path %}

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

